*~
.*
*.DS_Store
*.Rhistory
*.aux
*.bbl
*.blg
*.log
*.out
*.toc
*.synctex.gz
*.bib.bak
*.docx
*-old/
!.gitignore
data/idea-dissent-events.csv
data/idea-all-events.csv
data/raw/2000-2004 Data (N=3464898).tab
data/raw/1995-1999 Data (N=4_108_102)
data/raw/1990-1994 Data (N=2_679_938).tab
.Rproj.user
