*~
.*
*.DS_Store
*.Rhistory
*.aux
*.bbl
*.blg
*.log
*.out
*.toc
*.synctex.gz
*.bib.bak
*.docx
*-old/
!.gitignore
data/idea-dissent-events.csv
data/idea-all-events.csv
.Rproj.user
Rplots.pdf
data/raw/king-lowe-2008/1990-1994-data-(n=2_679_938).txt
data/raw/king-lowe-2008/1995-1999-data-(n=4_108_102).txt
data/raw/king-lowe-2008/2000-2004-data-(n=3464898).txt
data/raw/king-lowe-2008/levels-of-source-_-target.txt
data/raw/king-lowe-2008/names-of-source-_-target.txt
data/raw/king-lowe-2008/sectors-of-source-_-target.txt
